$primary: #413B61;
$secondary: #37415C;
$success: #8BC34A;
$danger: #A34054;
$dark-danger: #54162B;
$warning: #ED9E59;
$info: #AE7DAC;
$light: #F5F5F5;
$dark: #03122F;

@import "~bootstrap/scss/bootstrap";

body{
    background-image: url('../assets/images/1ea849f8-5830-4069-8fbb-1df73e4d1ac8.jpg');
    background-attachment: fixed;
    background-size: auto;
    background-position: center;
}

.main-container{
    padding: 1.5rem;
    min-height: calc(100vh - 55px);
}

.main-container form input, .main-container form select{
    margin-bottom: 10px;
    max-width: 250px;
}

.login-container form{
    margin-bottom: 10px;
}

.profile-container p{
    margin: 0;
}

.profile-container button{
    margin-top: 10px;
}

.navbar .vr{
    margin: 0 10px;
}

.navbar .shopping-cart img{
    width: 25px;
}

.navbar-toggler{
    border: none;
}

.navbar-toggler-icon{
    width: 15px;
}

.navbar-logo{
    height: 30px;
}

.error-toast{
    position: absolute;
    padding: 5px 10px;
    margin-top: 15px;
    bottom: 15px;
    right: 25px;
    margin-left: 15px;
    z-index: 100;
    max-width: 100%;
    border: 2px solid var(--bs-danger);
    border-radius: 5px;
}

.error-toast *{
    transition: all 200ms;
}

.error-toast .text{
    padding: 15px;
}

.error-toast p, .error-toast h5{
    margin: 0;
    line-height: 1.1em;
    font-size: 1rem;
}

.error-toast button{
    width: 50px;
}

.error-toast button img{
    width: 15px;
}

.detail-container p{
    margin: 0;
}

.detail-container button{
    margin-right: 10px;
    max-width: 200px;
}

.history-container p{
    margin-bottom: 3px;
}

.error-container {
    height: calc(100vh - 80px);
}

.table .plus, .table .minus{
    margin: 0;
    padding: 5px;
    font-size: 0;
    border-radius: 5px;
    img{
        padding: 0;
        width: 20px;
        height: 20px;
    }
}

.table .plus{
    margin-left: 15px;
}

.table .minus{
    margin-right: 15px;
}

.table td{
    vertical-align: middle;
    &.disabled{
       color: var(--bs-gray-400);
    }
}

.table td .status{
    margin: 0;
    padding: 0;
    line-height: 1rem;
    font-size: 0.7em;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    &.waiting{
        color: var(--bs-dark);
        background-color: var(--bs-light);
    }
    &.available{
        color: var(--bs-dark);
        background-color: var(--bs-success);
    }
    &.loaned{
        color: var(--bs-dark);
        background-color: var(--bs-warning);
    }
    &.returned{
        color: var(--bs-light);
        background-color: var(--bs-dark);
    }
    &.unclaimed{
        color: var(--bs-light);
        background-color: var(--bs-gray);
    }
    &.canceled{
        color: var(--bs-light);
        background-color: var(--bs-danger);
    }
}

.tag{
    margin: 0;
    padding: 0;
    line-height: 1rem;
    font-size: 0.85em;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 500;
    &.price{
        color: var(--bs-warning);
        background-color: var(--bs-dark);
    }
    &.copies{
        color: var(--bs-primary);
        background-color: var(--bs-light);
    }
}

.review{
    .date{
        color: var(--bs-gray);
    }
    .author{
        font-size: 0.7rem;
    }
}

.rating{
    .star{
        width: 15px;
    }
}

.home-header{
    min-height: 50vh;
    height: 100%;
    background-image: url('../assets/images/1ea849f8-5830-4069-8fbb-1df73e4d1ac8.jpg');
    background-attachment: fixed;
    background-size: auto;
    background-position: center;
}

.home-header-overshadow{
    min-height: inherit;
    height: 100%;
    width: 100%;
    background-color: rgba(6,6,6,.7);
}

.home-header h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3rem;
}

.home-header p, .home-header-search{
    width: 50%;
}

.home-container-best-choice, .home-container-text{
    width: 75%;
}

.home-container-banner {
    min-height: 50vh;
    background-image: url("../assets/images/2810b6fc-b077-4f11-81bb-db16b321ef61.jpg");
    background-position: center;
    background-size: cover;
}

.home-container-banner-overshadow{
    min-height: inherit;
    height: 100%;
    width: 100%;
    background-color: rgba(6,6,6,.7);
}

.footer-socials img {
    height: 2rem;
}

@media (max-width: 1200px){
    .home-container-text, .home-container-best-choice{
        width: 85%;
    }
}

@media (max-width: 768px){
    .container{
        margin: 0 !important;
        width: 100% !important;
        max-width: 100% !important;
    }
    .home-header p, .home-header-search{
        width: 100%;
    }
}