$primary: #413B61;
$secondary: #37415C;
$success: #8BC34A;
$danger: #A34054;
$dark-danger: #54162B;
$warning: #ED9E59;
$info: #AE7DAC;
$light: #F5F5F5;
$dark: #03122F;

@import "~bootstrap/scss/bootstrap";

.main-container{
    padding: 20px;
}

.main-container form input, .main-container form select{
    margin-bottom: 10px;
    max-width: 250px;
}

.login-container form{
    margin-bottom: 10px;
}

.profile-container p{
    margin: 0;
}

.profile-container button{
    margin-top: 10px;
}

.navbar .vr{
    margin: 0 10px;
}

.navbar .shopping-cart img{
    width: 25px;
}

.navbar-toggler{
    border: none;
}

.navbar-toggler-icon{
    width: 15px;
}

.navbar-logo{
    height: 30px;
}

.error-toast{
    position: absolute;
    padding: 5px 10px;
    margin-top: 15px;
    bottom: 15px;
    right: 25px;
    margin-left: 15px;
    z-index: 100;
    max-width: 100%;
    border: 2px solid var(--bs-danger);
    border-radius: 5px;
}

.error-toast *{
    transition: all 200ms;
}

.error-toast .text{
    padding: 15px;
}

.error-toast p, .error-toast h5{
    margin: 0;
    line-height: 1.1em;
    font-size: 1rem;
}

.error-toast button{
    width: 50px;
}

.error-toast button img{
    width: 15px;
}

.book-card-container{
    max-width: 15rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.detail-container p{
    margin: 0;
}

.detail-container .row{
    margin-bottom: 20px;
}

.detail-container button{
    margin-right: 10px;
    max-width: 200px;
}

.history-container p{
    margin-bottom: 3px;
}

.error-container {
    height: calc(100vh - 80px);
}

.admin-bookings-container ul{
    padding: 0;
}

.admin-bookings-container ul li{
    margin-top: 5px;
    margin-bottom: 5px;
}

.admin-bookings-container ul li p{
    margin: 0;
    padding: 0;
    &.status{
        text-align: center;
        padding: 5px;
        border-radius: 8px;
    }
    &.waiting{
        color: var(--bs-dark);
        background-color: var(--bs-light);
    }
    &.available{
        color: var(--bs-dark);
        background-color: var(--bs-success);
    }
    &.loaned{
        color: var(--bs-dark);
        background-color: var(--bs-warning);
    }
    &.returned{
        color: var(--bs-light);
        background-color: var(--bs-dark);
    }
    &.unclaimed{
        color: var(--bs-dark);
        background-color: var(--bs-gray);
    }
    &.canceled{
        color: var(--bs-light);
        background-color: var(--bs-danger);
    }
}