$primary: #413B61;
$secondary: #37415C;
$success: #8BC34A;
$danger: #B4182D;
$warning: #ED9E59;
$info: #AE7DAC;
$light: #F5F5F5;
$dark: #03122F;

@import "~bootstrap/scss/bootstrap";

.main-container{
    padding: 20px;
}

.main-container form input, .main-container form select{
    margin-bottom: 10px;
    max-width: 250px;
}

.login-container form{
    margin-bottom: 10px;
}

.profile-container p{
    margin: 0;
}

.profile-container button{
    margin-top: 10px;
}

.navbar-toggler{
    border: none;
}

.navbar-toggler-icon{
    width: 15px;
}

.navbar-logo{
    height: 30px;
}